@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: 8, 145, 178;
		--primary-light: 207, 250, 254;
		--primary-dark: 22, 78, 99;
		--dark-main: 35, 39, 42;
		--dark-acent: 44, 47, 51;
		--light-main: 243, 244, 246;
		--light-acent: 255, 255, 255;
	}

	.theme-red {
		--primary: 220, 38, 38;
		--primary-light: 254, 226, 226;
		--primary-dark: 127, 29, 29;
		--dark-main: 35, 39, 42;
		--dark-acent: 44, 47, 51;
		--light-main: 243, 244, 246;
		--light-acent: 255, 255, 255;
	}

	.theme-green {
		--primary: 22, 162, 73;
		--primary-light: 220, 252, 231;
		--primary-dark: 54, 83, 20;
		--dark-main: 35, 39, 42;
		--dark-acent: 44, 47, 51;
		--light-main: 243, 244, 246;
		--light-acent: 255, 255, 255;
	}
	.theme-sky {
		--primary: 2, 132, 199;
		--primary-dark: 12, 74, 110;
		--primary-light: 224, 242, 254;
		--dark-main: 35, 39, 42;
		--dark-acent: 44, 47, 51;
		--light-main: 243, 244, 246;
		--light-acent: 255, 255, 255;
	}
	.theme-violet {
		--primary: 124, 58, 237;
		--primary-light: 237, 233, 254;
		--primary-dark: 76, 29, 149;
		--dark-main: 35, 39, 42;
		--dark-acent: 44, 47, 51;
		--light-main: 243, 244, 246;
		--light-acent: 255, 255, 255;
	}
	.theme-fuchsia {
		--primary: 192, 38, 211;
		--primary-light: 250, 232, 255;
		--primary-dark: 112, 26, 117;
		--dark-main: 35, 39, 42;
		--dark-acent: 44, 47, 51;
		--light-main: 243, 244, 246;
		--light-acent: 255, 255, 255;
	}
	.theme-yellow {
		--primary: 245, 158, 11;
		--primary-light: 254, 243, 199;
		--primary-dark: 113, 63, 18;
		--dark-main: 35, 39, 42;
		--dark-acent: 44, 47, 51;
		--light-main: 243, 244, 246;
		--light-acent: 255, 255, 255;
	}
	.theme-orange {
		--primary: 249, 115, 22;
		--primary-light: 255, 237, 213;
		--primary-dark: 124, 45, 18;
		--dark-main: 35, 39, 42;
		--dark-acent: 44, 47, 51;
		--light-main: 243, 244, 246;
		--light-acent: 255, 255, 255;
	}
}
@layer components {
	::-webkit-scrollbar {
		@apply w-[10px];
	}
	::-webkit-scrollbar-track {
		@apply bg-gray-500;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-skin-primary;
	}
	::-webkit-scrollbar-thumb:hover {
		@apply bg-skin-primary-dark rounded;
	}
	.pagination {
		@apply flex justify-center items-center mt-2 mb-4 space-x-2 cursor-pointer;
	}
}
